Checks: >
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  modernize-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg,
  -modernize-use-trailing-return-type

WarningsAsErrors: '*'

HeaderFilterRegex: '.*'

Options:
  cppcoreguidelines-pro-type-member-init.NewSuffix: '_'